body{
    background-image: url(image/park\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(220, 29, 201);
    font-weight: bold;
    width: 200px;
    margin-top: 5px;
    border-radius: 15px;
}

#increment-btn{
    background: darkred;
}
